@mixin private-colors-dark {
    --black-1000: oklch(0.2604 0.0058 196.8);
    --black-700: oklch(0.2073 0.0037 228.99);
    --turquoise-1000: oklch(0.901 0.154 182.53);
    --turquoise-500: oklch(0.5885 0.0908 198.83);
    --white-800: oklch(0.9393 0.0287 249.76);
    --white-100: oklch(0.7863 0.0579 258.36);
    --red-1000: oklch(0.6271 0.244 15.14);
    --white-200: oklch(0.9 0.0228 233.38);
    --black-400: oklch(0.3809 0.0144 203.28);
    --acid: oklch(0.8893 0.1718 113.36);
    --blue: oklch(0.6321 0.2018 254.09);
}