@use './custom/themes/index' as themes;
@use './custom//index';
@use 'bootstrap/scss/bootstrap' as *;

:root {
  @include themes.theme-dark;
}

body {
  background-color: var(--secondary);
  color: var(--light);
  font-family: 'Roboto', sans-serif;
}

#q-app {
  width: 98vw;
  display: flex;
}
